.container
  %h1.sign-up Sign up
  .seperator
  .join
    = link_to 'Sign up with Twitter', signin_path, {:class=>"twitter"}
    %p yasd  Sign up with a social   network    dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoto   