.container
  %h1.sign-up Sign up
  .seperator
  .join
    = link_to 'Sign up with Twitter', signin_path, {:class=>"twitter"}
    %p We're currently using Twitter to provide access. We'll introduce more options soon. Stay tuned.