.container
  %h1.sign-up Sign up
  .seperator
  .join
    %a{:href => "#about", :class => "twitter"} Sign up with Twitter
    %p yasd  Sign up with a social   network    dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoto   