.row-fluid
  .span1
    = link_to image_tag(haiku.user.profile_image_url,:class => "current-user-image"), '/'
    %p.info #{pluralize(haiku.points,'retweet') if haiku.points}
  .span2
    = link_to haiku.user.screen_name, '/'
  .span5
    = haiku.content
  .span2
    %button.button.retweet-haiku-button
      %i.icon-thumbs-up
      retweet