.row-fluid
  .span2
    = link_to image_tag(top_haiku.user.profile_image_url,:class => "current-user-image"), '/'
    %p.info #{pluralize(top_haiku.retweet_points,'retweet')}
  .span2
    = link_to top_haiku.user.screen_name, '/'
  .span5
    %p.haiku-content=top_haiku.content
  .span3
    %button.button.retweet-haiku-button{"data-tweet-id" => top_haiku.tweet_id}
      %i.icon-thumbs-up
      retweet