.welcome
  .container
    .row-fluid.blurb
      .span5
        .row-fluid
          .span12
            %h2 An army of women <br/> who can accelerate <br/> any cause
        .row-fluid.join
          .span12
            %a{:href => "#about", :class => "loud"} Join
      .span5.offset1
        = image_tag("http://i.istockimg.com/file_thumbview_approve/20630702/2/stock-photo-20630702-warming-up-for-winter.jpg")
.explain
  .container
    .row-fluid
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_causes.jpg")
        .row-fluid.feature-highlight
          .span12
            %h4 Causes
            %p olore magnam aliquam quaerat volupt corporis
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_girl.png")
        .row-fluid.feature-highlight
          .span12
            %h4 Create
            %p olore magnam aliquam quaerat volupt corporis
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_create.jpg")
        .row-fluid.feature-highlight
          .span12
            %h4 Accelerate
            %p olore magnam aliquam quaerat volupt corporis