@import "mixins";
@import "compass";

.cause-info{
	background-color:$background-smooth;
	padding:45px initial;
	.cause-intro-container{
		margin-top:40px;
		.cause-intro{
			float:none;
		 	display: inline-block;
		 	margin-left:10px;
			.cause-name{
			  color:$pleasant;
		 	}
		}
	}

	.cause-user-image{
		vertical-align: top;
	 	display: inline-block;
	}

	.causes-status-container{
	 	background-color:rgba(255,255,255,0.9);
	 	border-style:solid;
	 	border-width:2px;
	 	border-color:rgba(182,179,176,0.9);
	 	@include border-radius(3px);
	 	padding:5px 10px;
	 	margin-bottom:20px;

	 	h4{margin:0 0 15px;}
	 	small{
	  		text-transform: uppercase;
	 	}

	 	.cause-result{
	 		color:#92A6A5;
	 	}
	 }

	 .cause-progress{
	 	margin-bottom:25px;
	 }

	 .cause-action{
	 	@include border-radius(5px);
		background: url('https://s3-us-west-1.amazonaws.com/jag-assets/images/twitter-login.png') no-repeat 5px 7px;
		background-size:20px;
 		display:block;
	 	text-align: center;
	 	font-size: 15px;
	 	color: $quiet;
	 	padding:5px 3px 8px;
	 	@include box-shadow(inset 0px -2px 4px rgba(0,0,0,0.65));
	 	&.loud{
	 		background-color:$vibrant;
	 	}
	 	&.quieter{
	 		background-color:rgb(233,237,238);
	 		color:$pleasant;
	 	}
	 	&:hover{
	 	  color:$loud;
	 	}
	 }

	 .causes-info-container{
	 	margin-top:10px;

	 	.cause-image{
			@include box-shadow(5px 5px 4px rgba(0,0,0,0.65));
	 	}
	 }

	 .top-container{
	 	background-color:rgba(255,255,255,0.9);
	 	border-color:rgba(182,179,176,0.9);
		border-width:3px;
		border-style:solid;
		margin-bottom:15px;
		@include border-radius(6px);
		h4{
			margin-top:0;
			padding: 5px 0 5px 10px;
			background-color:rgba(188,185,183,0.9);
			border-color:rgba(182,179,176,0.9);
		}

		.entries-container{
			padding:0 5px;

			p.info{
				margin-left:4px;
				margin-top:8px;
				color:#999;
				font-size:18px;
			}
		}
	 }
	.log-in{
		margin-top:25px;
	}
 }