// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
@import "compass";

.welcome{
	background-color:$background-smooth;
	padding:45px initial;
	.blurb{
	  padding-left:20px;
	  font-weight: bold;
	  color:$pleasant;
	  h2{
	    font-size:35px;
	  }
	  .join{
	  	margin-top:62px;
	  	.loud{
	  		@include border-radius(5px);
	  		width:97px;
	  		font-size: 28px;
	  		color: $quiet;
	  		font-weight:bold;
	  		padding:3px 21px 7px;
	  		background-color:$vibrant;
	  		@include box-shadow(inset 0px -2px 4px rgba(0,0,0,0.65));
	  		&:hover{
	  		  color:$loud;
	  		}
	  	}
	  }
	}
 }

.explain{
	background-color: white;
	padding:25px initial;

	img{
		padding-left:18px;
	}

	.feature-highlight{
		margin-top:16px;
		h4{
			font-size: 25px;
		}
		p{
			font-size:18px;
		}
	}
}

.showcase{
	background-color:$background-smooth;
	padding:10px 0 120px;;
	h3{
		font-size:30px;
		margin-bottom:25px;
	}
	h4{
		font-size:25px;
		margin-top:25px;
		margin-bottom:25px;
	}
	.featured-container{
		margin-bottom:30px;
		border-color:$vibrant;
		border-width:2px;
		border-style:dashed;
		padding: 15px 20px;
		.featured-cause-name{
			color: $pleasant;
			font-size:35px;
			@include background(linear-gradient(-180deg,rgba(143,83,108,0) 0%,rgb(79,68,62) 100%));
			padding: 5px 0 10px 15px;
			margin-bottom:25px;
		}
		.featured-content{
			padding-left:25px;
			font-size:18px;
		}

		.featured-image{
			@include box-shadow(5px 5px 4px rgba(0,0,0,0.65));
		}

		.featured-user{
			margin-top:35px;
			margin-bottom:25px;
			.feature-user-image{
				margin-right:15px;
			}
		}

		.featured-statistics{
			p{
				margin:0;
				font-size:14px;
			}
		}
	}

	.current-cause-container{
		min-height:372px;
		padding: 0 10px 10px;
	 	border-width:3px;
		@include border-radius(18px);	 	
		border-style:solid;
		border-color:rgba(182,179,176,0.9);

		&.outline{
			border-style:dashed;
		}
		h5{
			font-size:16px;
			text-align:center;
		}

		.img-circle{
		  display:block;
		  margin:0 auto 10px;
		  border:rgb(227,227,227) 7px solid;
		}
		.current-image{
			@include box-shadow(4px 4px 4px rgba(0,0,0,0.65));
			@include border-radius(500px);
		}
		.current-user-image{
			max-width:55px;
			margin-right:15px;
		}
		.current-statistics{
			margin-top:15px;
			p{
				margin:0;
				font-size:14px;
			}
		}
	}
}