- unless current_page?(:action=>"join", :controller=>"users")
  %footer.container
    %ul.nav
      %li.active
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Careers
      %li
        %a{:href => "#"} Reviews
      %li
        %a{:href => "#"} Help
      %li
        %a{:href => "#"} Blog
      %li 
        © 2012 JustAddGirls inc;
= javascript_include_tag "application"
= javascript_include_tag "//platform.twitter.com/widgets.js"